body{
	font-size: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #F5F5F5;
}
#header-nav{
	background-color: #9370DB;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}
.navbar-brand{
	padding: 0 0 0 -50px;
	text-transform: uppercase;   
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #F08080;
}
h1{
    margin: 0;
    color: #F08080;
    font-weight: bold;
    font-size: 30px;
 }
 h2{
 	color: #B22222;
 	height: 50px;
 	margin: 0;
 	font-weight: bold;
 }
 #nav-list{
 	font-size: 15px;
 	color: #B22222;
 	margin: 0;
	padding: 0;
 	text-align: center;
 	background-color: #483D8B;
 }
 #nav-list li:hover{
 	background-color: #FFE4C4;
 	margin: 0;
	padding: 0;
 }
 #nav-list li{
 	font-weight: bold;
 }
h4{
	color: #FFFAF0;
	font-weight: bold;
}
#details{
	text-align: center;
	background-color: #0000CD;
	color: #FFFAF0;
	border-radius: 10px; 
}
#collapsable-nav{
	margin: 0;
	padding: 0;
}
/*
.container-fluid{
	padding: 0;
}*/
.container{
	padding: 0;
}